@model Employee
@{
    ViewData["Title"] = "Index";
}
<table class="table">
    <thead>
        <tr>
            <th>Employee Name</th> 
            <th>Employee Job Title</th>
        </tr>
    </thead>
    <tbody>
    @{foreach(Employee employee in ViewBag.EmployeeList){
    <tr>
    <td>@employee.Name</td>
    <td>@employee.JobTitle</td>
    <td><a asp-controller="Employee" asp-action="Edit" 
    asp-route-employeeId="@employee.Id"
    class="btn btn-primary"><i class="bi bi-pencil-square"></i>
    Edit</a></td>
    <td><a asp-controller="Employee" asp-action="Delete" 
    asp-route-employeeId="@employee.Id"
    class="btn btn-danger"><i class="bi bi-trash-fill"></i>
    Delete</a></td>
    <td><a asp-controller="Employee" asp-action="Details"
    asp-route-employeeId="@employee.Id"
    class="btn btn-secondary"><i class="bi bi-trash-fill"></i>
    Details</a></td>
    </tr>
    }}
    </tbody>
</table>

<a class="btn btn-secondary" asp-area="" asp-controller="Employee" asp-action="Create">Create Employee</a>